<%= turbo_stream.update :preview do %>
  <% unless @preview_post.valid? %>
    <div class="card text-white bg-danger mb-3 card-errors">
      <div class="card-header">Errors</div>
      <div class="card-body">
        <ul>
          <% @preview_post.errors.full_messages.each do |message| %>
            <li class="card-text"><%= message %></li>
          <% end %>
        </ul>
      </div>
    </div>

  <% end %>
<% end %>